<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span>Copyright &copy; <a title="More info"
                                        href="#"
                                        target="_blank">KyuTung - Doctors Care -  2023</a></span>
        </div>
    </div>
</footer>
